@page
@model IndexModel
@{
	ViewData["Title"] = "Home Page";
}

<h3>Audio Device Repository Server</h3>
<p>
	Version of the current release: @Model.Version<br/>
	Timestamp: @Model.Timestamp<br/>
	Runtime: @Model.Runtime
</p>
<p>
	REST Api Output Examples:<br/>
	1. <a href="@Url.Content("~/api/AudioDevices")">Get Audio Device List</a>.<br/>
	2. <a href="@Url.Content("~/api/Info/Version")">Get Server Version</a>.
</p>
